*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    /*para alinear y ajustar mejor las cartas*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:rgb(9, 74, 136);
}